html, body {

    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #0C0C0C;
    cursor: crosshair;
    overflow: hidden;
}

.Start{
    position: absolute;
    width: 10vw;
    height: 2.5vw;
    left: 30vw;
    top: 6.5vw;
    background-color: #F2613F;
    border-radius: 2vw;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vw;
    transition-duration: 0.5s;
    cursor: pointer;
}
.Start:hover{
    color: #F2613F;
    background-color:white ;
    transition-duration: 0.5s;

}

.Start:active{
    color: #F2613F;
    scale: 0.7;
    background-color:white ;
    transition-duration: 0.5s;

}

h1{
    margin-left: 5vw;
    color: whitesmoke;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
}

.Countdown{
    
    color: gray;
    text-align: center;
    font-size: 15vw;
    font-family: "Poppins", sans-serif;

}
.Score{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(40, 40, 40);

    font-size: 15vw;
    font-family: "Poppins", sans-serif;
}
.Bullseye{

    display: block;
    position: absolute;
    background-color: #F2613F;
    border-radius: 50px;
    visibility: hidden;

}